:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 73%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-opacity-75: hsla(0, 0%, 0%, 0.75);
  --fw-light: 400;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

img,
svg {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--white);
}

/* product slider with arrows */
.slider-relative {
  position: relative;
}

.navigate {
  border: none;
  background-color: var(--light-grayish-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.--prev {
  left: 0;
  transform: translate(30%, -50%);
}
.--next {
  right: 0;
  transform: translate(-30%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 17px;
  height: 17px;
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.dot.active {
  background-color: var(--orange);
  border-color: var(--white);
}

/* .dot:hover {
  transform: scale(1.2); 
  background-color: red;
} */

.product-image {
  display: none;
}

.product-image.displayImg {
  display: block;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.product-info {
  color: var(--dark-grayish-blue);
  padding: 25px;
  display: grid;
  --spacer: 0.9rem 0;
}

.company {
  font-weight: var(--fw-bold);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.type {
  color: var(--very-dark-blue);
  font-weight: var(--fw-bold);
  font-size: 1.8rem;
  margin: var(--spacer);
}

.description {
  font-size: 1.1rem;
  margin: var(--spacer);
  font-weight: var(--fw-light);
  text-wrap: balance;
}

.prices {
  margin: var(--spacer);
  display: flex;
  align-items: center;
}
.main-price {
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  color: var(--very-dark-blue);
}
.offer {
  background-color: var(--very-dark-blue);
  color: var(--white);
  margin-left: 2rem;
  padding: 6px;
  border-radius: 7px;
  font-weight: var(--fw-bold);
}

.original-price {
  font-size: 1.1rem;
  font-weight: var(--fw-bold);
  text-decoration: line-through;
  margin-left: auto;
}

.buy {
  margin: var(--spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.amount {
  background-color: white;
  border: none;
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--orange);
  cursor: pointer;
}

.amount:hover {
  color: var(--pale-orange);
}

.items {
  color: var(--very-dark-blue);
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
}

.add-product {
  margin: var(--spacer);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 13px;
  background-color: var(--orange);
  color: var(--very-dark-blue);
  font-size: 1rem;
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.add-product:hover {
  background-color: var(--pale-orange);
}

.navbar {
  padding: 5px 13px;
  display: flex;
  align-items: center;
}
.left-items {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right-items {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  margin-left: auto;
}
.avatar-icon {
  border-radius: 50%;
  width: 38%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: ease-in 0.2s;
}

.avatar-icon:hover {
  border: 2px solid var(--orange);
}

.cart-icon {
  scale: 1.1;
  color: var(--dark-grayish-blue);
}

.cart-icon:hover {
  color: var(--orange);
  cursor: pointer;
}

.navbar button {
  z-index: 2;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.nav-links ul {
  padding: 120px 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* align-items: center; */
  /* justify-content: center; */
  position: fixed;
  height: 100%;
  width: 70%;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  /* margin-top: 1rem; */
  background-color: var(--white);
}
.nav-links ul.open {
  transform: translateX(0%);
}

.nav-links a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-size: 17px;
  font-weight: var(--fw-bold);
  display: block;
  width: max-content;
}
.nav-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--orange);
  transition: ease-in 0.5s;
}
.nav-links a:hover::after {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-opacity-75);
}
 

@media screen and (min-width: 700px) {
  .navbar {
    padding: 30px 60px;
    position: relative;
    margin-bottom: 5rem;
  }
  .navbar::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 1px;
    background-color: var(--grayish-blue);
  }

  .nav-links ul {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    position: unset;
    /* background-color: none; */
    transform: translateX(0%);
    padding: 0;
  }
  .navbar button {
    display: none;
  }
  .leftside-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
}
